<div class="container">
  <h1 style="display: flex; justify-content: center; padding: 10px; font-weight: 400; color: purple;">Adicione um novo item</h1>

  <form style="display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
    margin: 0 auto;
    margin-bottom: 50px;
    
    " 
    
     [formGroup]="itemForm" 
     (ngSubmit)="onSubmit()" >
    <mat-form-field>
      <input matInput placeholder="Nome" formControlName="nome">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Categoria" formControlName="categoria">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" placeholder="Valor" formControlName="valor">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="date" placeholder="Data" formControlName="data">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" placeholder="Estoque" formControlName="estoque">
    </mat-form-field>
    <mat-checkbox formControlName="perecivel">Perecível</mat-checkbox>
    <button mat-raised-button style="background-color: purple; color: white;" type="submit">Adicionar</button>
  </form>
</div>

